* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-container {
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top {
  color: #ff0404;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 25px;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 2px;
}
.top a {
  text-decoration: none;
  color: #ff0404;
}
.top :hover {
  color: rgb(26, 5, 16);
}
.text {
  border-top: 20px;
  padding: 25px 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.food-1 {
  font-size: 15px;
  background-color: rgb(255, 255, 0);
}
.food-1 h2 {
  border: 1px solid black;
  border-bottom: 20px;
  border-top: 20px;
  display: flex;
  align-items: center;
  color: #ff0404;
  justify-content: center;
}
.food-1 img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}
.nav a {
  display: inline-flex;
}
.top .logo {
  font-size: 25px;
}
.body-container {
  display: flex;
  flex-direction: column-reverse;
}
.text button {
  background-color: rgb(253, 253, 0);
  color: #ff0404;
  padding: 10px;
  width: 200px;
  border: 1px solid rgb(36, 35, 35);
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  letter-spacing: 2px;
}
