* {
  box-sizing: border-box;
  font-family: poppins;
}
.nav-container {
  background-color: rgb(255, 255, 0);
  font-family: poppins;
}
.top {
  color: #ff0404;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 25px;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 2px;
}
.top a {
  text-decoration: none;
  color: #ff0404;
}
.top :hover {
  color: rgb(26, 5, 16);
}
.text {
  border-top: 20px;
  padding: 25px 25px;
  font-family: Poppins;
}
.food-1 {
  font-size: 15px;
  background-color: rgb(255, 255, 0);
}
.food-1 h2 {
  padding: 2px 0px;
  margin: 0px 10px;
  border: 400px solid #ff0404;
  border-bottom: 20px;
  border-top: 5px;
  display: flex;
  align-items: center;
  color: #0c0c0c;
  justify-content: center;
  text-decoration: underline;
}
.food-1 img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}

.nav-bar a {
  display: inline-flex;
  padding-bottom: 15;
}
.top .logo {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bolder;
  padding-bottom: 15;
}
.food-1 button {
  background-color: none;
  color: #ff0404;
  font-family: poppins;
  border-radius: 4px;
  font-size: 15px;
}
.food-1 strong {
  font-size: 20px;
}

.footer {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-family: poppins;
  background-color: #0c0c0c;
  color: aliceblue;
}
