* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-container {
  background-color: rgb(255, 255, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top {
  color: #ff0404;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 25px;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 2px;
}
.top a {
  text-decoration: none;
  color: #ff0404;
}
.top :hover {
  color: rgb(26, 5, 16);
}
.text {
  border-top: 20px;
  padding: 25px 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.food-1 {
  font-size: 15px;
  background-color: rgb(255, 255, 0);
}
.food-1 h2 {
  padding: 2px 0px;
  margin: 0px 10px;
  border: 400px solid #ff0404;
  border-bottom: 20px;
  border-top: 5px;
  display: flex;
  align-items: center;
  color: #0c0c0c;
  justify-content: center;
  text-decoration: underline;
}
.food-1 img {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}
.nav-bar a {
  display: inline-flex;
  padding-bottom: 15;
}
.top .logo {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bolder;
  padding-bottom: 15;
}
.food-1 button {
  background-color: none;
  color: #ff0404;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 4px;
  font-size: 15px;
}
.food-1 strong {
  font-size: 20px;
}
